body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    width: 100%;
    height: 0;
    line-height: 0;
    overflow: hidden;
}

.pagina {
    max-width: 100%;
    margin: 0 auto;
}

/*Incio Conteudo*/
.conteudo {
    float: left;
    /* Apenas para nosso exemplo */
    /*background: url("../img/anuncio-publicitario-1200x675.jpg");*/
    background: yellow;
    width: 80%;
    height: 7em;
}
/*Fim Conteudo*/

/*Inicio Data*/

.containerHora{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: white;
    text-align: center;

    float: left;
    width: 20%;
    height: 5em;
    /* Apenas para nosso exemplo */
    background: cornflowerblue;
}
/*Fim Data*/

.containerConteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    color: white;
    text-align: center;
}
/*Inicio LogoMarca*/

.containerLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
    text-align: center;

    float: left;
    width: 20%;
    height: 5em;
    /* Apenas para nosso exemplo */
    background: purple;
}
/*Fim Logo Marca*/

/*Inicio Noticia*/

.containerNews{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 6em;

    float: left;
    /* Apenas para nosso exemplo */
    background: brown;
}


.containerNewsImagem{
    display: flex;
    color: white;
    text-align: center;
    width: 20%;
    height: 16em;
    float: right;
    /* Apenas para nosso exemplo */
    background: coral;

}
/*Fim Noticia*/


